{
    "parserOptions": {
        "ecmaVersion": 2023,
        "requireConfigFile": false
    },
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "extends": "airbnb",
    "rules": {}
}