<div class="div1">
  <div class="div2">
    <button class="proceed-to-generation-button">Click the button to proceed to generation</button>
  </div>
</div>
<script src="../javascripts/home.js"></script>