<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/child.css">
  <link rel="stylesheet" href="/styles/gift.css">
</head>

<body>
  <div>
    <div id="logo-div">
      <img id="logo_Image" src="/images/20880.jpg" alt="nice logo">
      <a id="attribution-santa-image" href="http://www.freepik.com">Designed by macrovector / Freepik</a>
    </div>
    <h1>
      Santa Logistics
    </h1>
  </div>
  <div style="clear:both;"></div>
  <hr>
  <button class="menu-link-button" id="button-children">
    <strong>Show Children</strong>
  </button>
  <button class="menu-link-button" id="button-gifts">
    <strong>Show Gifts</strong>
  </button>
  <div style="clear:both;"></div>
  <hr>
  {{{body}}}
  <script src="/scripts/main.js"></script>


</body>

</html>