.lists-div {
  position: relative;
  width: 500px;
  height: 160px;
  margin: auto;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.inner-div {
  position: relative;
  background-color: rgb(245, 235, 235);
  width: 50%;
  height: 100%;
  outline: solid 1px black;
  padding-left: 10%;
}

.summary-table {
  margin: auto;
  margin-top: 20px;
  width: 500px;
}

th {
  outline: solid 1px black;
  width: 50%;
}

td {
  outline: solid 1px black;
  width: 50%;
  height: 100px;
}

.price-td {
  padding-left: 10%;
  font-size: 24px;
  font-weight: bold;
}

.order-button-div {
  margin: auto;
  margin-top: 20px;
  width: 250px;
}

.order-button {
  width: 100%;
  height: 50px;
  background-color: azure;
  font-weight: bolder;
  color: rgb(88, 145, 88);
}