.generate-another-button {
  display: block;
  color: darkred;
  font-size: 24px;
  width: 400px;
  height: 150px;
  background-color: lightpink;
  margin: auto;
  margin-top: 20px;
}

.image-frame-div {
  width: 601px;
  height: 640px;
  outline: solid 1px black;
  margin: auto;
}

.image-div {
  width: 601px;
  height: 640px;
  position: absolute;
}

.żytnie-dough-div {
  background-image: url("../images/empty-light.png");
  z-index: 1;
}

.czekoladowe-dough-div {
  background-image: url("../images/empty-dark.png");
  z-index: 1;
}

.czekolada-topping-div {
  background-image: url("../images/chockolate.png");
  z-index: 2;
}

.miód-topping-div {
  background-image: url("../images/honey.png");
  z-index: 3;
}

.kokos-topping-div {
  background-image: url("../images/coconut.png");
  z-index: 4;
}

.żurawina-topping-div {
  background-image: url("../images/cranberries.png");
  z-index: 5;
}

.posypka-topping-div {
  background-image: url("../images/sprinkles.png");
  z-index: 6;
}